<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <script src="{{ '/assets/js/script.js' | relative_url }}" defer></script>
</head>
<body>
  <div class="wrapper">
    <nav id="sidebar" class="sidebar">
      <ul class="sidebar-nav">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/research.html">Research</a></li>
        <li><a href="/publications.html">Publications</a></li>
        <li><a href="/cv.html">CV</a></li>
        <li><a href="/about.html">About</a></li>
        <li><a href="/contact.html">Contact</a></li>
      </ul>
    </nav>
    <main class="main-content">
      <img class="profile-pic" src="{{ '/assets/images/profile.png' | relative_url }}" alt="Profile Picture">
      <h1>Jordi Cerdà-Bautista</h1>
      {{ content }}
    </main>
  </div>
</body>
</html>
